*{
    margin: 0;
    padding:0 ;
}

.header {
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 1;
}
.header_info h1 {
    font-size: 25px;
    padding: 10px;
    color: white;
}

.header_info {
    display: flex;
    justify-content: space-between;
    max-width: 1450px;
    margin: auto;
    padding-bottom: 7px;
}

.header_link {
    text-decoration: none;
    margin-top: 11px;
}

.header_option > Button{
    color: lightgray;
}

.header_option > Button:hover{
    color: white;
}

@media (max-width:500px){
    .header_info h1 {
        font-size: 22px;
        padding: 10px;
    }

    .header_link {
        padding-right: 10px;
        margin-top: 8px;
    }
}

@media (max-width:1024px){
    .header_info h1 {
        font-size: 22px;
        padding: 10px;
    }

    .header_link {
        padding-right: 10px;
        margin-top: 8px;
    }
}

